html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #f0f2f5 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  cursor: pointer;
}
li{
  list-style:none;
}
li:hover{
  color: blue;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rbt-menu > .dropdown-item {
  overflow: unset !important;
  text-overflow: ellipsis;
}
.rbt-menu-pagination-option {
  color: chocolate !important;
}
.rbt-menu-pagination-option:active {
  background-color: transparent !important;
}
.rbt-menu > .dropdown-item {
  padding: 1rem;
}
.svg-inline--fa{
  cursor: pointer;
}